#counterLabel {
  font-size: 5em;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-family: 'helvetica', sans-serif;
}
#buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.buttons {
  font-size: 0.75em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}
.buttons:hover {
  color: white;
  background-color: hsl(221, 90%, 65%);
}
